.panel-form {
    margin-top: 32px;
    text-align: center;
}

.panel-form .title {
    text-transform: uppercase;
    margin: 20px;
    font-size: 32px;
    color: #EF7247;
}

.button-place {
    margin: 10px;
}
